<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script type=text/javascript  src="{{
  url_for('static', filename='js/calc.js') }}">
</script>


   <script type=text/javascript src="{{
  url_for('static', filename='js/calcCookie.js') }}"></script>


</head>
<body onload="checkCookie()">

  <h1>jQuery Example</h1>


 <p><input type=text size=5 name=a id="2"> +
   <input type=text size=5 name=b> =
   <span id=result>?</span>
<p><a href=# id=calculate>calculate server side</a>




</body>
</html>