<!DOCTYPE html>
<html>

<head>
    <title>Login | Despair</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/loginScreen.css" />
</head>

<body>
    <div id="loginForm">
        <form>
            <div id="username">
                <p>Username:</p>
                <input type="text" />
            </div>
            
            <div id="password">
                <p>Password:</p>
                <input type="password" />
            </div>

            <input type="submit" value="Login" />
        </form>
    </div>
    
</body>

</html>